<div class="col-xs-6 col-xs-offset-3">
  <h1>The #<%= instaCollection.escape("tag") %> Collection</h1>

  <ul class="list-group">
  <% for (var i = 0; i < instaCollection.posts().length; i++) { %>
    <% var post = instaCollection.posts().models[i] %>
    <li class="list-group-item">
      <div class="collection-list-item">
        <h5><%= post.escape("username") %></h5>
        <p>
          <%= post.escape("caption") %>
        </p>
      <% if (post.escape("media_type") === "image") { %>
        <img src="<%= post.escape("media_url") %>"/>
      <% } else { %>
        <video controls name="media">
          <source src="<%= post.escape("media_url") %>" type="video/mp4">
        </video>
      <% } %>
      <p>
        <a href="<%= post.escape("link") %>">
          (view post on instagram)
        </a>
      </p>
      </div>
    </li>
  <% } %>
  </ul>

  <% if (instaCollection.get("offset") > 20) { %>
  <button type="button" id="previous-page-btn">Previous</button>
  <% } %>
  <button type="button" id="next-page-btn">Next</button>
  <a href="#/collections">Back to index</a>
  <a href="#/collections/new">Create a new collection</a>
</div>
